@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }

  
}

.Card {
  width: 200px;
  height: 150px;
  background-color:tomato;
  border-radius: 10px;
  margin: 20px;
}

